@inherits LayoutComponentBase

<div class="page">
    <NavMenu />
    
    <div class="main-wrapper">
        <Header />
        
        <main class="main-content">
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</div>

<div id="blazor-error-ui">
    A aparut o eroare neasteptata.
    <a href="" class="reload">Reincarca</a>
    <a class="dismiss">🗙</a>
</div>
